@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
  ViewBag.Title = "Photo Details";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
  <h2 class="prod-header">Photo Details</h2>
</div>

<div class="prod-form">
  <div class="prod-form-div">@Html.DisplayFor(model => model.Title)</div>
  <div class="prod-form-div">Production: @Html.DisplayFor(model => model.Production.Title)</div>
  <div class="prod-form-div">
    <img alt="@Model.Title" src="/ProductionPhotos/GetImage/@Model.ProPhotoId" class="img-thumbnail bg-dark" />
  </div>
  <div class="prod-form-div">@Html.DisplayFor(model => model.Description)</div>

  <div class="prod-form-div">
    <a href="@Url.Action("Index")" class="btn prod-btn btn-block">Back To List</a>
  </div>

  @if (ViewContext.HttpContext.User.IsInRole("Production Photographer"))
  {
    <div class="prod-form-div">
      @if (Model.ProPhotoId == Model.Production.ProPhotoID)
      {
        <p>You cannot delete this photo because it is set as the default photo for the production '@Model.Production.Title'</p>
      }
      else
      {
        <a href="@Url.Action("Delete", new { id = Model.ProPhotoId })" class="btn prod-btn-danger btn-block"><i class="fas fa-trash"></i> Delete Photo</a>
      }
    </div>
  }
</div>