@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
  ViewBag.Title = "Edit Production Photo";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
  <h2 class="prod-header">Edit Production Photo</h2>
</div>

@using (Html.BeginForm("Edit", "ProductionPhotos", FormMethod.Post, new { enctype = "multipart/form-data", @class = "prod-form" }))
{
  @Html.AntiForgeryToken()

  <div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProPhotoId)
    @Html.HiddenFor(model => model.Image)

    <div class="prod-form-div">
      @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "prod-form-label" })
      @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control prod-input", placeholder = "Image Title", required = "required" } })
      @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="prod-form-div">
      @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "prod-form-label" })
      @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control prod-input", placeholder = "Image Description" } })
      @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="prod-form-div">
      @Html.LabelFor(model => model.Production, htmlAttributes: new { @class = "prod-form-label" })<br />
      @Html.DropDownListFor(model => model.ProductionId, (IEnumerable<SelectListItem>)ViewBag.ProductionList, new { htmlAttributes = new { @class = "form-control prod-input" } })
      @Html.ValidationMessageFor(model => model.Production, "", new { @class = "text-danger" })
    </div>

    <div class="prod-form-div">
      <input type="file" id="file" name="File" accept="image/*" />
    </div>

    <div class="prod-form-div">
      <img id="preview" src="/ProductionPhotos/GetImage/@Model.ProPhotoId" alt="Image Preview" class="img-thumbnail bg-dark" />
    </div>

    <div class="prod-form-div">
      <input type="submit" value="Save Changes" class="btn prod-btn btn-block" />
    </div>

    <div class="prod-form-div">
      <a href="@Url.Action("Index")" class="btn prod-btn-danger btn-block">Cancel</a>
    </div>

  </div>
}